*{
    padding: 0;
    margin: 0;
    /* padding-top: 1px; */
}
body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color:rgba(113,197,207,255);
    
}
#board{
    border-left: 2px solid white;
    border-right:  2px solid white;
    height: 570px;
    background-image: url(./images/flappybirdbg.png);
}
@media (max-width:505px) {
    #board{
        height: 100%;
        width: 360px;
        background-image: url(./images/flappybirdbg-ss.png);
        /* background-color: red; */
    }
}